doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel='favicon', href='/assets/favicon.ico')

  body(id="top" class="flex flex-col relative antialiased font-roboto text-xs text-gray-900 tracking-wide leading-relaxed min-h-screen loading sm:text-sm md:text-base " + htmlWebpackPlugin.options.bodyCss)

    //## BLOCK CONTENT
    block content